/* selector */
* h1 {
    text-align: center;
    color:  white;
    font-family: 'Playfair Display', serif;
    margin-bottom: 12px;
}

* a {
    text-decoration: none;
}

* p {
    font-family: 'Inter', serif;
}


.gold-line {
    border: none; /* убираем стандартную линию hr */
    height: 3px; /* толщина */
    width: 290px;/* длина линии*/
    background: #0B101D;
    margin: 0 auto; /* центрируем */
    background: linear-gradient(90deg,rgba(11, 16, 29, 1) 0%, 
                                rgba(206, 171, 55, 1) 50%, 
                                rgba(11, 16, 29, 1) 100%);
}


/* =================== HEADER ======================== */
/* Шапка */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 20px;
    background-color: rgb(2,4,19);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


/* Надпись */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #D4AF37;;
}
.logo:hover{
    color: white;
}

/* Кнопка "Позвонить" */
.call-btn {
    background-color: #d3531a;
    color: white;
    padding: 8px 16px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

.call-btn:hover {
    background-color: #b24310;
}

/* =================== BODY ======================== */
main{
    background-color: rgb(2,4,19);
}

body p {
   color: #9da1aa;
}

/* ============== home/title/visuable start================= */
.home {
    text-align: center;
}

.home h1 {
    color: white;
}
.home a {
    padding: 10px;
    color: white
}

.home a:hover {
    color: #232021;
}

.home span{
    background: linear-gradient(90deg,rgba(213,177,58) 0%, rgba(252,228,131) 100%);
    background-clip: text;
    color: transparent;
}
.home p{
    size: 30px;
    font: lighter;
    color: #9da1aa;
}

/* ============== about ============== */
.about {
    background-color: rgb(11,16,29);
}
.about .ab-title{
    color: white;
    margin-bottom: 8px;
}

.about span {
    color: #D4AF37;
}

.about-content p {
    color: #9da1aa;
}
/* ============== litters ============== */
.litters p {
    text-align: center;
}


/* ============== manufacturers ============== */
.manufacturers{
    background-color: rgb(11,16,29);
}
.manufacturers .mn-title{
    text-align: center;
    color: white;
}
.manufacturers p {
    text-align: center;
    color: #9da1aa;
}


/* ============== gallery ============== */


/* ============== champions ============== */
.сhampions {
    background-color: rgb(11,16,29);
}

/* ============== feedbak ============== */






/* ====================== footer ====================== */
.footer {
    background-color: #050810;
}
.footer a {
    color: #1d293d;
}
.footer h4 {
    color: white;
    margin: 4px;
}
.footer h4 span {
    color: #D4AF37;
}

.footer li{
    list-style-type: none;
    color:  #1d293d;
}
.footer hr {
    border-color:#1d293d;
}
.footer p{
    color:  #1d293d;
} 

